html {
    text-align: center;
}
#list {
    text-align: left;
    padding: 5vw;
}
.listItem {
    margin: 1vh;
    padding: 1vh;
    border: 3px solid #AAAAAA;
}
.listItem:hover {
    border: 3px solid #00AFFF;
}
